html {
  height: 300px;
}

body {
  padding: 0px;
  height: 100px;
}

button {
  width: 180px;
  font-size: 1.1em;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.removeUnderline {
  text-decoration: none;
}

.addPadding {
	margin-top: 10px;
	margin-bottom: 10px;
}
